<h1 class="title"><%= @title %></h1>
<section class="section section--mt-0 is-secondary news-hero">
  <div class="grid grid--type1">
    <div class=" card-news-bg">
      <div class="card-news-bg__preview">
        <img src="<%= asset_path('pic/news-bg/1.png') %>" srcset="<%= asset_path('pic/news-bg/1@2x.png') %> 2x" width="430" height="267" loading="lazy" alt="" />
      </div>
      <div class="card-news-bg__content">
        <div class="card-news-bg__header">

          <span class="label label--type2">познавательно</span>

          <button type="button" class="favorite favorite--type2 card-news-bg__favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news-bg__title">Вся Антарктида находится в условиях радиомолчания</div>
        <div class="card-news-bg__footer">
          <div class="views views--type2">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news-bg__date">Вчера</div>

          <div class="card-news-bg__author">Исмаилов А.</div>

        </div>
      </div>
      <a href="#" class="card-news-bg__link"></a>
    </div>

    <div class="mobile-hide card-news-bg">
      <div class="card-news-bg__preview">
        <img src="<%= asset_path('pic/news-bg/2.png') %>" srcset="<%= asset_path('pic/news-bg/2@2x.png') %> 2x" width="430" height="267" loading="lazy" alt="" />
      </div>
      <div class="card-news-bg__content">
        <div class="card-news-bg__header">

          <span class="label label--type2">познавательно</span>

          <button type="button" class="favorite favorite--type2 card-news-bg__favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news-bg__title">Выставка культуры и быта народов Дагестана проходит в Сочи</div>
        <div class="card-news-bg__footer">
          <div class="views views--type2">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,8k</span>
          </div>
          <div class="card-news-bg__date">Вчера</div>

          <div class="card-news-bg__author">Исмаилов А.</div>

        </div>
      </div>
      <a href="#" class="card-news-bg__link"></a>
    </div>

    <div class=" card-news">

      <div class="card-news__content">
        <div class="card-news__header">

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">70% верующей молодежи доверяет Муфтияту Дагестана</a>
          <div class="card-news__text">В журнале «Исламоведение» (ДГУ) вышло исследование доктора социологических наук Мадины Шахбановой, об отношении молодежи к Муфтияту Дагестана.</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <div class="card-news__content">
        <div class="card-news__header">

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Махачкалинская школа успешно реализовала президентский грант</a>
          <div class="card-news__text">Перед нами предстаёт огромная социальная проблема в виде сотен и тысяч детей, нуждающихся в реабилитации.</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <div class="card-news__content">
        <div class="card-news__header">

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Дагестанский Муфтият — оплот российского духовного пространства</a>
          <div class="card-news__text">Муфтият Дагестана играет важную роль в укреплении суверенитета российского духовного пространства. Об этом говорили эксперты в ходе круглого стола, посвящённого вопросам исламского образования в Дагестане.</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <div class="card-news__content">
        <div class="card-news__header">

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Ученые нашли древнейшие действующие термитники на Земле</a>
          <div class="card-news__text">Массивное жилище насекомых нашли на берегах реки Буффелс в Намакваленде на западном побережье ЮАР</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <div class="card-news__content">
        <div class="card-news__header">

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">1000-летний меч «Экскалибур», найденный в Испании, имеет исламское происхождение</a>
          <div class="card-news__text">Это оружие — единственный меч исламской эпохи, когда-либо обнаруженный в Валенсии.</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <div class="card-news__content">
        <div class="card-news__header">

          <button type="button" class="favorite is-active">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Авиарейсы свяжут Махачкалу и Абу-Даби</a>
          <div class="card-news__text">Полеты будут осуществляться дважды в неделю</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <button type="button" class="btn btn--tertiary btn-more">Показать ещё</button>
  </div>
</section>
<section class="section news-aside">
  <div class="news-aside__box">
    <div class="card-news-short">
      <div class="card-news-short__title">
        <a href="#" class="card-news-short__link">Признаки сихра (колдовство) и какие Аяты следует читать.</a>
      </div>
      <div class="views card-news-short__views">
        <svg class="icon">
          <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
        </svg>
        <span>1,3k</span>
      </div>
    </div>

    <div class="card-news-short">
      <div class="card-news-short__title">
        <a href="#" class="card-news-short__link">Лечение от влюблённого джинна.</a>
      </div>
      <div class="views card-news-short__views">
        <svg class="icon">
          <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
        </svg>
        <span>871</span>
      </div>
    </div>

    <div class="card-news-short">
      <div class="card-news-short__title">
        <a href="#" class="card-news-short__link">10 дуа Посланника Аллаhа ﷺ </a>
      </div>
      <div class="views card-news-short__views">
        <svg class="icon">
          <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
        </svg>
        <span>5,9k</span>
      </div>
    </div>

  </div>
  <div class="news-aside__box news-aside__box--mobile-hide">
    <div class="card-news-short">
      <div class="card-news-short__title">
        <a href="#" class="card-news-short__link">11 дуа из Священного Корана</a>
      </div>
      <div class="views card-news-short__views">
        <svg class="icon">
          <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
        </svg>
        <span>5,9k</span>
      </div>
    </div>

    <div class="card-news-short">
      <div class="card-news-short__title">
        <a href="#" class="card-news-short__link">Эртугрул — 600 лет правления Османов</a>
      </div>
      <div class="views card-news-short__views">
        <svg class="icon">
          <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
        </svg>
        <span>5,9k</span>
      </div>
    </div>

    <div class="card-news-short">
      <div class="card-news-short__title">
        <a href="#" class="card-news-short__link">Сихр — колдовство. Виды колдовства (продолжение)</a>
      </div>
      <div class="views card-news-short__views">
        <svg class="icon">
          <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
        </svg>
        <span>5,9k</span>
      </div>
    </div>

  </div>
  <button type="button" class="btn btn--secondary news-aside__more">Показать ещё</button>
</section>
<div class="sta-form ">
  <div class="sta-form__text">Присоединяйтесь в наш Telegram канал!</div>

  <a href="#" class="btn sta-form__button">Перейти в канал</a>

</div>

<section class="section section--mt-medium mobile-hide">
  <div class="grid grid--type1">
    <div class=" card-news-bg">
      <div class="card-news-bg__preview">
        <img src="<%= asset_path('pic/news-bg/3.png') %>" srcset="<%= asset_path('pic/news-bg/3@2x.png') %> 2x" width="430" height="267" loading="lazy" alt="" />
      </div>
      <div class="card-news-bg__content">
        <div class="card-news-bg__header">

          <span class="label label--type2">познавательно</span>

          <button type="button" class="favorite favorite--type2 card-news-bg__favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news-bg__title">Какие конфеты любишь ты?</div>
        <div class="card-news-bg__footer">
          <div class="views views--type2">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>991</span>
          </div>
          <div class="card-news-bg__date">Вчера</div>

        </div>
      </div>
      <a href="#" class="card-news-bg__link"></a>
    </div>

    <div class=" card-news-bg">
      <div class="card-news-bg__preview">
        <img src="<%= asset_path('pic/news-bg/4.png') %>" srcset="<%= asset_path('pic/news-bg/4@2x.png') %> 2x" width="430" height="267" loading="lazy" alt="" />
      </div>
      <div class="card-news-bg__content">
        <div class="card-news-bg__header">

          <span class="label label--type2">познавательно</span>

          <button type="button" class="favorite favorite--type2 card-news-bg__favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news-bg__title">Что? Где? Когда?</div>
        <div class="card-news-bg__footer">
          <div class="views views--type2">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>991</span>
          </div>
          <div class="card-news-bg__date">Вчера</div>

        </div>
      </div>
      <a href="#" class="card-news-bg__link"></a>
    </div>

    <div class=" card-news">

      <a href="#" class="card-news__preview">
        <img src="<%= asset_path('pic/news/1.png') %>" srcset="<%= asset_path('pic/news/1@2x.png') %> 2x" width="280" height="187" loading="lazy" alt="" />
      </a>

      <div class="card-news__content">
        <div class="card-news__header">

          <span class="label">познавательно</span>

          <span class="label">по подписке</span>

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Откровение Всевышнего в защиту Аиши رضي الله عنها</a>
          <div class="card-news__text">В тот же день Посланник Аллаhа ﷺ поднялся на минбар и попросил, чтобы кто-нибудь помог ему наказать Абдуллаха бин Убаййа ибн Салюля. Пророк ﷺ сказал: «Кто поможет мне наказать человека, который …</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>991</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <a href="#" class="card-news__preview">
        <img src="<%= asset_path('pic/news/2.png') %>" srcset="<%= asset_path('pic/news/2@2x.png') %> 2x" width="280" height="187" loading="lazy" alt="" />
      </a>

      <div class="card-news__content">
        <div class="card-news__header">

          <span class="label">познавательно</span>

          <span class="label">по подписке</span>

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Электросушилка: чем хороша и что готовим</a>
          <div class="card-news__text">Электросушилки стали огромным подспорьем для тех из нас, кто заботится о своём здоровье и желает разнообразить свой рацион. Сушёные продукты можно брать с собой на работу, лакомиться ими дома</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

          <div class="card-news__author">Исмаилов А.</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <a href="#" class="card-news__preview">
        <img src="<%= asset_path('pic/news/3.png') %>" srcset="<%= asset_path('pic/news/3@2x.png') %> 2x" width="280" height="187" loading="lazy" alt="" />
      </a>

      <div class="card-news__content">
        <div class="card-news__header">

          <span class="label">познавательно</span>

          <span class="label">по подписке</span>

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Медовая вода и прополис</a>
          <div class="card-news__text">Совокупным действием трёх солнечных вспышек класса X с 24 октября вызвана радиационная буря S1-класса</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

          <div class="card-news__author">Исмаилов А.</div>

        </div>
      </div>
    </div>

  </div>
  <button type="button" class="btn btn--tertiary section__btn-load">Загрузить ещё</button>
</section>
<section class="section mobile-show">
  <div class="grid grid--type1">
    <div class=" card-news">

      <a href="#" class="card-news__preview">
        <img src="<%= asset_path('pic/news/1.png') %>" srcset="<%= asset_path('pic/news/1@2x.png') %> 2x" width="280" height="187" loading="lazy" alt="" />
      </a>

      <div class="card-news__content">
        <div class="card-news__header">

          <span class="label">познавательно</span>

          <span class="label">по подписке</span>

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Откровение Всевышнего в защиту Аиши رضي الله عنها</a>
          <div class="card-news__text">В тот же день Посланник Аллаhа ﷺ поднялся на минбар и попросил, чтобы кто-нибудь помог ему наказать Абдуллаха бин Убаййа ибн Салюля. Пророк ﷺ сказал: „Кто поможет мне наказать человека, который …</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>991</span>
          </div>
          <div class="card-news__date">Вчера</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <a href="#" class="card-news__preview">
        <img src="<%= asset_path('pic/news/2.png') %>" srcset="<%= asset_path('pic/news/2@2x.png') %> 2x" width="280" height="187" loading="lazy" alt="" />
      </a>

      <div class="card-news__content">
        <div class="card-news__header">

          <span class="label">познавательно</span>

          <span class="label">по подписке</span>

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Электросушилка: чем хороша и что готовим</a>
          <div class="card-news__text">Электросушилки стали огромным подспорьем для тех из нас, кто заботится о своём здоровье и желает разнообразить свой рацион. Сушёные продукты можно брать с собой на работу, лакомиться ими дома</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

          <div class="card-news__author">Исмаилов А.</div>

        </div>
      </div>
    </div>

    <div class=" card-news">

      <a href="#" class="card-news__preview">
        <img src="<%= asset_path('pic/news/3.png') %>" srcset="<%= asset_path('pic/news/3@2x.png') %> 2x" width="280" height="187" loading="lazy" alt="" />
      </a>

      <div class="card-news__content">
        <div class="card-news__header">

          <span class="label">познавательно</span>

          <span class="label">по подписке</span>

          <button type="button" class="favorite ">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#bookmark"></use>
            </svg>
          </button>
        </div>
        <div class="card-news__body">
          <a href="#" class="card-news__title">Медовая вода и прополис</a>
          <div class="card-news__text">Совокупным действием трёх солнечных вспышек класса X с 24 октября вызвана радиационная буря S1-класса</div>
        </div>
        <div class="card-news__footer">
          <div class="views">
            <svg class="icon">
              <use xlink:href="<%= asset_path('sprite.svg') %>#eye"></use>
            </svg>
            <span>1,3k</span>
          </div>
          <div class="card-news__date">Вчера</div>

          <div class="card-news__author">Исмаилов А.</div>

        </div>
      </div>
    </div>

  </div>
  <button type="button" class="btn btn--tertiary section__btn-load">Загрузить ещё</button>
</section>