<h1 class="title"><%= @title %></h1>
<section class="newspaper">
  <div class="grid grid--newspaper">
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/1.png') %>" srcset="<%= asset_path('pic/newspaper/1@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 708 от&nbsp;01&nbsp;декабря 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/2.png') %>" srcset="<%= asset_path('pic/newspaper/2@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 707 от&nbsp;15&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/3.png') %>" srcset="<%= asset_path('pic/newspaper/3@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 706 от&nbsp;01&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/4.png') %>" srcset="<%= asset_path('pic/newspaper/4@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 708 от&nbsp;01&nbsp;декабря 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/5.png') %>" srcset="<%= asset_path('pic/newspaper/5@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 707 от&nbsp;15&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/6.png') %>" srcset="<%= asset_path('pic/newspaper/6@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 706 от&nbsp;01&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/1.png') %>" srcset="<%= asset_path('pic/newspaper/1@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 708 от&nbsp;01&nbsp;декабря 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/1.png') %>" srcset="<%= asset_path('pic/newspaper/2@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 707 от&nbsp;15&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/3.png') %>" srcset="<%= asset_path('pic/newspaper/3@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 706 от&nbsp;01&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/4.png') %>" srcset="<%= asset_path('pic/newspaper/4@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 708 от&nbsp;01&nbsp;декабря 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/5.png') %>" srcset="<%= asset_path('pic/newspaper/5@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 707 от&nbsp;15&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
    <div class="card-newspaper ">
      <a href="#" class="card-newspaper__preview">
        <img src="<%= asset_path('pic/newspaper/6.png') %>" srcset="<%= asset_path('pic/newspaper/6@2x.png') %> 2x" width="276" height="414" alt="">
      </a>
      <div class="card-newspaper__content">
        <a href="#" class="card-newspaper__title">Номер 706 от&nbsp;01&nbsp;ноября 2024</a>
        <div class="card-newspaper__description">Джумад-уль-авваль 1446</div>
      </div>
      <div class="card-newspaper__controls">
        <a href="#" class="btn btn--small card-newspaper__link-read">Читать</a>

      </div>
    </div>
  </div>
  <button type="button" class="btn btn--tertiary newspaper__btn-loading">Загрузить ещё</button>
</section>